<div class='flex flex-col items-center h-screen w-full p-5'>
  <p class='text-3xl'>SavedStocks</p>
  <div class='flex w-full gap-4'> 
      <% @stocks.each do |stock| %>
      <div class='flex p-4 mb-2 bg-gray-200 border-2 border-black rounded-md gap-2'>
        <p><%= stock.name %></p>
        <% if stock.name == "Apple" %>
          <%# <p>  <%= @result %> %>
          <p>$270</p>
        <% end %>
      </div>  
      <% end %>
  </div>
</div>


