  <section class='w-full p-3 border-2 rounded-sm bg-white dark:bg-gray-800 border-gray-300 dark:border-gray-700'>
    <p class='text-2xl bg-gray-200 dark:bg-gray-700 text-gray-900 dark:text-white w-full p-1'>Earnings and Dividents</p>
    <div class='flex gap-4 items-center border-1 rounded-sm p-2 border-gray-300 dark:border-gray-600' id='eps-annual-growth'>
      <p class='text-xl text-gray-900 dark:text-white'>EPS Annual Growth</p>
      <input type='number' step='0.01' name='eps_annual_growth' class='p-2 border rounded-sm w-32 bg-white dark:bg-gray-700 text-gray-900 dark:text-white border-gray-300 dark:border-gray-600' placeholder='%' />
    </div>
    <div class='flex gap-4 items-center border-1 rounded-sm p-2 mt-2 border-gray-300 dark:border-gray-600' id='annual-revenue-growth'>
      <p class='text-xl text-gray-900 dark:text-white'>Annual Revenue Growth</p>
      <input type='number' step='0.01' name='annual_revenue_growth' class='p-2 border rounded-sm w-32 bg-white dark:bg-gray-700 text-gray-900 dark:text-white border-gray-300 dark:border-gray-600' placeholder='%' />
    </div>
    <div class='flex gap-4 items-center border-1 rounded-sm p-2 mt-2 border-gray-300 dark:border-gray-600' id='dividend-growth-5-year'>
      <p class='text-xl text-gray-900 dark:text-white'>Dividend Growth 5 Year</p>
      <input type='number' step='0.01' name='dividend_growth_5_year' class='p-2 border rounded-sm w-32 bg-white dark:bg-gray-700 text-gray-900 dark:text-white border-gray-300 dark:border-gray-600' placeholder='%' />
    </div>
    <div class='flex gap-4 items-center border-1 rounded-sm p-2 mt-2 border-gray-300 dark:border-gray-600' id='dividend-yield'>
      <p class='text-xl text-gray-900 dark:text-white'>Dividend Yield</p>
      <input type='number' step='0.01' name='dividend_yield' class='p-2 border rounded-sm w-32 bg-white dark:bg-gray-700 text-gray-900 dark:text-white border-gray-300 dark:border-gray-600' placeholder='%' />
    </div>
    <div class='flex gap-4 items-center border-1 rounded-sm p-2 mt-2 border-gray-300 dark:border-gray-600' id='annual-dividend'>
      <p class='text-xl text-gray-900 dark:text-white'>Annual Dividend</p>
      <input type='number' step='0.01' name='annual_dividend' class='p-2 border rounded-sm w-32 bg-white dark:bg-gray-700 text-gray-900 dark:text-white border-gray-300 dark:border-gray-600' placeholder='$' />
    </div>
  </section>

