<div class='flex flex-col items-center h-screen w-full p-5'>
  <p class='text-4xl'>Stock Screener</p>
  <section class='w-full p-3 border-2 rounded-sm'>
    <p class='text-2xl bg-gray-200 w-full p-1'>Market Segment</p>
    <div class='border-1 rounded-sm'>
      <p class='text-xl'>Market Cap:</p>
      <div class='flex justify-center'>
        <button class='p-2 bg-blue-500 rounded-sm mx-5'>Micro Cap</button>
        <button class='p-2 bg-blue-500 rounded-sm mx-5'>Small Cap</button>
        <button class='p-2 bg-blue-500 rounded-sm mx-5'>Medium Cap</button>
        <button class='p-2 bg-blue-500 rounded-sm mx-5'>Large Cap</button>
      </div>
    </div>
    <div class='border-1 rounded-sm'>
      <p class='text-xl'>Sector/Industry</p>
    </div>
  </section>
  <section class='w-full p-3 border-2 rounded-sm'>
    <p class='text-2xl bg-gray-200 w-full p-1'>Price and Volume</p>
  </section>
  <section class='w-full p-3 border-2 rounded-sm'>
    <p class='text-2xl bg-gray-200 w-full p-1'>Opinion</p>
  </section>
  <section class='w-full p-3 border-2 rounded-sm'>
    <p class='text-2xl bg-gray-200 w-full p-1'>Fundamentals</p>
  </section>
  <section class='w-full p-3 border-2 rounded-sm'>
    <p class='text-2xl bg-gray-200 w-full p-1'>Earnings and Dividents</p>
  </section>
  <section class='w-full p-3 border-2 rounded-sm'>
    <p class='text-2xl bg-gray-200 w-full p-1'>Debt</p>
  </section>
</div>